@use 'sass:map';

$sizes: (
  'md': 576px,
  'lg': 768px,
  'xl': 960px,
);

$fonts: (
  'main': ('IBM Plex Mono', monospace),
  'h1': ('Righteous', cursive),
);

$font-weight: (
  'h1': 400,
  'heading': 400,
);

$colors: (
  'h1': #ac2798,
  'main': #474747,
  'link': #f2777a,
  'link-hover': #9c9,
  'overlay': rgba(0, 0, 0, 0.2),
  'footer': #fff,
  'footer-lower': #666,
  'button': #999,
  'dark': (
    'main': #fff,
    'bg': #222,
    'trans': (
      'blue': darken(#5bcefa, 25%),
      'white': darken(#fff, 25%),
      'pink': darken(#f5a9b8, 25%),
    ),
  ),
  'trans': (
    'blue': #5bcefa,
    'white': #fff,
    'pink': #f5a9b8,
  ),
);

// Returns a linear-gradient with the specified colors
@function background-gradient($color1, $color2, $color3) {
  @return linear-gradient(135deg, $color1 0%, $color2 50%, $color3 100%);
}

// Create background gradients
$trans: map.get($colors, 'trans');
$dark-trans: map.get(map.get($colors, 'dark'), 'trans');
$bg-gradient: background-gradient(map.get($trans, 'blue'), map.get($trans, 'white'), map.get($trans, 'pink'));
$dark-bg-gradient: background-gradient(map.get($dark-trans, 'blue'), map.get($dark-trans, 'white'), map.get($dark-trans, 'pink'));

@mixin media($size) {
  @media (min-width: map.get($sizes, $size)) {
    @content;
  }
}

@mixin button($bg, $color) {
  background-color: $bg;
  border-radius: 5px;
  color: $color;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background-color: darken($bg, 5%);
  }
}

// Use to implement dark mode styles
@mixin dark-mode() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
