@use 'sass:map';

$header-image: url('assets/img/cover.jpg');

$sizes: (
  'md': 576px,
  'lg': 768px,
  'xl': 960px,
);

$fonts: (
  'main': ('Open Sans', sans-serif),
  'h1': ('Righteous', cursive),
  'heading': ('Varela Round', sans-serif),
);

$font-weight: (
  'h1': 400,
  'heading': 400,
);

$colors: (
  'h1': #fff,
  'main': #474747,
  'link': #f2777a,
  'link-hover': #9c9,
  'overlay': rgba(0, 0, 0, 0.2),
  'footer': #fff,
  'footer-lower': #666,
  'button': #999,
  'dark': (
    'main': #fff,
    'bg': #222,
  ),
);

@mixin overlay($opacity) {
  background-color: rgba(0, 0, 0, $opacity);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin media($size) {
  @media (min-width: map.get($sizes, $size)) {
    @content;
  }
}

@mixin button($bg, $color) {
  background-color: $bg;
  border-radius: 5px;
  color: $color;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background-color: darken($bg, 20%);
  }
}

// Changes the background and text colors for dark mode automatically
@mixin dark-mode() {
  @media (prefers-color-scheme: dark) {
    // Dark colors map
    $dark: map.get($colors, 'dark');

    background-color: map.get($dark, 'bg');
    color: map.get($dark, 'main');
  }
}
