@use 'sass:map';
@use 'sass:color';
@use 'config';

$colors: config.$colors;
$dark: map.get($colors, 'dark');

.dialog {
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: map.get($colors, 'overlay');
  border: 0;
  color: #000;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &:not([open]) {
    display: none;
  }
}

.dialog--contact {
  &__form {
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 8px map.get($colors, 'overlay');
    font-family: map.get(config.$fonts, 'heading');
    margin: 1em;
    max-width: 100%;
    overflow: hidden;
    padding: 2em;
    width: 30em;

    @include config.dark-mode() {
      background-color: map.get($dark, 'bg');
      color: map.get($dark, 'main');
    }
  }

  &__form h2 {
    margin-top: 0;
  }

  &__form label {
    display: block;
    margin-bottom: 0.75em;
  }

  &__form textarea,
  &__form input {
    border: 1px solid map.get($colors, 'main');
    border-radius: 0.5em;
    display: block;
    max-width: 100%;
    padding: 0.5em;
    width: 100%;
  }

  &__form textarea {
    max-height: 20em;
    min-height: 2em;
    min-width: 100%;
  }

  &__form button {
    @include config.button(#666, #fff);

    background-color: color.scale(map.get($colors, 'button'), $lightness: -25%);
    border: 0;
    padding: 0.5em;
  }

  // Add another overlay when submitting form
  &__form--loading::after {
    background-color: map.get($colors, 'overlay');
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
