@use 'sass:map';
@use 'sass:color';
@use 'config';

$colors: config.$colors;
$dark: map.get($colors, 'dark');

.body {
  &--modal-open {
    overflow: hidden;
  }
}

.dialog {
  background-color: #fff;
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0 0 8px map.get($colors, 'overlay');
  color: inherit;
  font-family: map.get(config.$fonts, 'heading');
  height: fit-content;
  max-height: 90%;
  padding: 0;

  @include config.dark-mode() {
    background-color: map.get($dark, 'bg');
    color: map.get($dark, 'main');
  }

  &::backdrop {
    backdrop-filter: blur(2px);
    background-color: map.get($colors, 'overlay');
  }

  &:not([open]) {
    display: none;
  }
}

.dialog--contact {
  &__form {
    max-width: 100%;
    padding: 2em;
    width: 30em;
  }

  &__form h2 {
    margin-top: 0;
  }

  &__form label {
    display: block;
    margin-bottom: 0.75em;
  }

  &__form textarea,
  &__form input {
    border: 1px solid map.get($colors, 'main');
    border-radius: 0.5em;
    display: block;
    max-width: 100%;
    padding: 0.5em;
    width: 100%;
  }

  &__form textarea {
    max-height: 20em;
    min-height: 2em;
    min-width: 100%;
  }

  &__form button {
    @include config.button(color.scale(map.get($colors, 'button'), $lightness: -25%), #fff);

    border: 0;
    padding: 0.5em;
  }

  // Add another overlay when submitting form
  &__form--loading::after {
    background-color: map.get($colors, 'overlay');
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
