html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: rgb(71, 71, 71);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

a {
  color: #f2777a;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: #9c9;
  }
}

h1 {
  font-family: 'Righteous', cursive;
}

p {
  margin-bottom: 1.5em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
}
