@use 'sass:map';
@use 'config';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: config.$bg-gradient;
  color: map.get(config.$colors, 'main');
  font-family: map.get(config.$fonts, 'main');
  font-size: 16px;
  line-height: 2;
  margin: 0;

  @include config.media('md') {
    font-size: 18px;
  }

  @include config.dark-mode() {
    $dark: map.get(config.$colors, 'dark');

    background: config.$dark-bg-gradient;
    color: map.get($dark, 'main');
  }
}

a {
  color: map.get(config.$colors, 'link');
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: map.get(config.$colors, 'link-hover');
  }
}

h1 {
  color: map.get(config.$colors, 'h1');
  font-family: map.get(config.$fonts, 'h1');
  font-weight: map.get(config.$font-weight, 'h1');

  @include config.dark-mode() {
    $dark: map.get(config.$colors, 'dark');

    color: map.get($dark, 'h1');
  }
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}
