@use 'sass:map';
@use 'config';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include config.dark-mode;

  color: map.get(config.$colors, 'main');
  font-family: map.get(config.$fonts, 'main');
  font-size: 16px;
  line-height: 2;
  margin: 0;

  @include config.media('md') {
    font-size: 18px;
  }
}

a {
  color: map.get(config.$colors, 'link');
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: map.get(config.$colors, 'link-hover');
  }
}

h1 {
  color: map.get(config.$colors, 'h1');
  font-family: map.get(config.$fonts, 'h1');
  font-weight: map.get(config.$font-weight, 'h1');
}

p {
  margin-bottom: 1.5em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: map.get(config.$fonts, 'heading');
  font-weight: map.get(config.$font-weight, 'heading');
}
