@use 'sass:map';
@use 'config';

html,
body {
  height: 100%;
  width: 100%;
  min-height: fit-content;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.content {
  background-color: rgba(245, 150, 236, 0.5);
  border-radius: 1em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
  height: fit-content;
  margin: 2em;
  max-width: 80%;
  padding: 3em;
  position: relative;
  text-align: center;
  width: 36em;

  @include config.dark-mode() {
    background-color: rgba(10, 10, 10, 0.5);
  }

  article {
    text-transform: lowercase;
  }
}

.main-header {
  font-size: 2em;

  h1 {
    line-height: 1.2;
    margin: 0;
  }
}

.main-footer {
  text-align: center;

  h2 {
    margin: 0;
  }

  .social {
    margin: 0 auto;
  }

  a {
    color: inherit;
  }
}
