@use 'sass:map';
@use 'sass:color';
@use 'config';

$colors: config.$colors;
$dark: map.get($colors, 'dark');

.social {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  &__icon {
    cursor: pointer;
    height: 2.5em;
    list-style: none;
    margin-right: 1em;
    position: relative;
    width: 2.5em;
  }

  &__icon:last-of-type {
    margin-right: 0;
  }

  &__icon__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
  }

  &__icon svg {
    height: 100%;
    width: 100%;
  }

  // Set icon fill color
  &__path {
    fill: map.get($colors, 'accent');

    @include config.dark-mode() {
      fill: map.get($dark, 'accent');
    }
  }

  // Darken icon fill color on hover
  &__icon:hover &__path {
    fill: color.scale(map.get($colors, 'accent'), $lightness: -40%);

    @include config.dark-mode() {
      fill: color.scale(map.get($dark, 'accent'), $lightness: -40%);
    }
  }
}
